
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.para4{
    height: 100px;
    width: 400px;
    color: rgb(24, 24, 10);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}